<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta name="description" content="Royal Imbau se Especializa en renovaciones transformadoras de viviendas y locales comerciales, nuestro equipo de construcción fusiona diseños innovadores con artesanía experta para dar vida a su visión. Renueve su espacio con nosotros hoy mismo.">
    <title>Royal Imbau</title>
    <link rel="preload" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link rel="icon" href="{% static 'img/favicon.ico' %}" id="favicon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
</head>


<body>

    {% include 'core_es/navbar.html' %}

    {% block content %}
    <!-- content -->
    {% endblock %}

    {% include 'core_es/footer.html' %}

</body>






</html>