{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">


<nav class="navbar">
  <a href="{% url 'inicio' %}"><img srcset="{% static 'img/company-logo.webp' %}" class="logo" alt="company-logo"></a>

  <div class="nav-links">
    <ul>
      <li class="active"><a href="{% url 'inicio' %}">Inicio</a></li>
      <li><a href="{% url 'sobre-nosotros' %}">Sobre Nosotros</a></li>
      <li><a href="{% url 'galeria' %}">Galería</a></li>
      <li><a href="{% url 'contacto' %}">Contáctenos</a></li>
    </ul>
  </div>

  <select name="languages" id="languages">
    <option value="english">English</option>
    <option value="spanish">Español</option>
    <option value="german">Deutsch</option>
  </select>

  <img src="{% static 'img/menu-btn.webp' %}" alt="mobile-menu" class="menu-hamburger">

  <script src="{% static 'js/hamburger-menu.js' %}"></script>

  <script src="{% static 'js/language-changer.js' %}"></script>
</nav>