{% extends 'core_es/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/about_us.css' %}">


<div class="image-text-container">

    <div class="content-row">
        <div class="content-text">
            <h2 class="section-title">Especialistas en Remodelación y Alicatado Moderno</h2>
            <div class="blue-line"></div>
            <p>Especializados en alicatado y remodelación contemporáneos, buscamos rejuvenecer espacios, desde baños
                hasta cocinas y casas completas. Nuestro objetivo es hacer de su espacio no solo algo visualmente
                impresionante, sino también un testimonio de su elegancia y estilo.</p>
        </div>
        <img loading="lazy" class="content-image" src="{% static 'img/quincho0.webp' %}" alt="Description of Image" />
    </div>
    <div class="content-row">
        <div class="content-text">
            <h2 class="section-title">Transformando Visiones en Realidad</h2>
            <div class="blue-line"></div>
            <p>Nos especializamos en ofrecer toques contemporáneos y lujosos para aquellos con un ojo para lo
                extraordinario. Transformar su visión en la casa de sus sueños es nuestro compromiso, y su placer
                nos inspira a diario.</p>
        </div>
        <img loading="lazy" class="content-image" src="{% static 'img/quincho1.webp' %}" alt="Description of Image" />
    </div>

    <div class="content-row">
        <div class="content-text">
            <h2 class="section-title">Abraza Tu Viaje Hogareño Con Nosotros</h2>
            <div class="blue-line"></div>
            <p>Permítanos acompañarte en tu viaje para crear algo verdaderamente espectacular. Elige a Royal Imbau, donde
                te espera la casa de tus sueños.</p>
        </div>

        <img loading="lazy" class="content-image" src="{% static 'img/landscape.webp' %}" alt="Description of Image" />
    </div>

</div>

<div id="contact-btn">
    <a href="https://wa.me/+34623336460" aria-label="contact us via whatsapp" target="_blank" class="btn">Contáctenos por Whatsapp</a>
</div>


{% endblock content %}