<!DOCTYPE html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta name="description"
          content="{% trans 'Royal Imbau is a renovation company led by a modern tiling specialist, offering expert home and commercial renovations, contemporary remodeling, and quality craftsmanship. Transform your space with innovative designs and professional tiling. Contact us for your next project!' %}">
    <title>{% trans "Royal Imbau" %}</title>
    <link rel="preload" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" id="favicon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include 'core/navbar.html' %}
    {% block content %}
    <!-- translated content goes here -->
    {% endblock %}
    {% include 'core/footer.html' %}
</body>
</html>
