.background-container {
    
    background-image: url(../img/landscape.webp);
    background-size: cover;
    background-position: 50%;
    position: relative;
    height: 30vh;
}

#form-title {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    text-align: center;
}


.contact-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

.hide-form-error {
    display: none;
}

.email-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;

}

.email-form>* {
    padding: 10px;
    margin: 2%;
    background-color: #FAFAFA;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}


.email-form input:hover,
.email-form textarea:hover,
.email-form select:hover {
    box-shadow: 0 0 20px 2px #5f92cdb2;
}

.error {
    color: red;
}

input.box {
    animation: breathingEffect 2s infinite alternate;
}

#form-response {
    display: none;
    text-align: center;
    padding-top: 1%;
}

@keyframes breathingEffect {
    0% {
        box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.3);
    }

    100% {
        box-shadow: 0 0 20px 20px rgba(255, 0, 0, 0.24);
    }
}


@media screen and (max-width: 900px) {



    .background-container {
        height: 200px;
    }

    .contact-forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }

    .email-form {
        width: 400px;
    }

    .phone {
        display: block;
        padding-bottom: 2%;
    }

    #submit-button {
        color: black;
    }
}


@media screen and (max-width: 450px) {
    .contact-forms>* {
        width: 96%;
    }

    .map iframe {
        width: 96%;
    }
}

